---
const { title, subtitle, body, img } = Astro.props;
---

<section class="section-proyect">
	<div>
		<h3>{title}</h3>
		<h4>{subtitle}</h4>
		<p>{body}</p>
	</div>
	<img src={img} alt=`${title} image` />
</section>
